[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
ipywidgets = "*"
scipy = "*"
numba = "*"
smbus2 = "*"
"jetson.gpio" = "*"
tensorflow = "*"
onnx = "*"
panda = "*"
jetson-stats = "*"

[dev-packages]

[requires]
python_version = "3.11"
